body {
  margin-top: 60px;
  text-align: center;
}

h1 {
  padding-bottom: 0.5rem;
}

input[type="number"] {
  cursor: pointer;
}

#input-celsius {
  background-color: #dd52cd;
  font-size: 2.5rem;
}

#input-fahrenheit {
  background-color: #7d96e8;
  font-size: 2.5rem;
}

#input-kelvin {
  background-color: #68d942;
  font-size: 2.5rem;
}

.form-padding {
  padding: 2rem 1rem;
}

::-webkit-input-placeholder {
  color: #ffffff !important;
}
::-moz-placeholder {
  color: #ffffff !important;
}
:-ms-input-placeholder {
  color: #ffffff !important;
}
:-moz-placeholder {
  color: #ffffff !important;
}

footer {
  padding-top: 1.5rem;
  font-size: 0.7rem;
  line-height: 0.2rem;
  text-align: center;
}

.icons {
  max-width: 25px;
  height: auto;
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    margin-top: 40px;
  }

  #input-celsius,
  #input-fahrenheit,
  #input-kelvin {
    font-size: 1.5rem;
  }

  .form-padding {
    padding: 1.5rem 0.5rem;
  }

  footer {
    padding-top: 1rem;
    font-size: 0.5rem;
  }

  .icons {
    max-width: 20px;
  }
}
